/* *{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.table{
    display: flex;
    position: relative;
   
    font-size: small;
    align-items: center;
    justify-content: center;
}

#main {
    width: 400px;
    height: 400px;
    border: 1px solid #c3c3c3;
    
  }

  .product-bar{
    position: relative;
    top: 20px;
    display: flex;
    flex-direction: row;
  }

  .drop-down{
    position: relative;
    left:60vw;
  } */
